.list {
  list-style-type: none;
  font-size: 30px;
  margin-left: 50px;
}

.listTask {
  display: flex;
  margin-bottom: 5px;
}

.button {
  font-size: 20px;
  margin-left: 20px;
  border-radius: 10px;
}